<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ApplicationLog" type="Tavisca.Frameworks.Logging.Configuration.ApplicationLogSection, Tavisca.Frameworks.Logging"/>
  </configSections>
  <ApplicationLog exceptionSwitch="On" eventSwitch="On" reThrowLogExceptions="Off" maxThreads="5" useWorkerProcessThreads="false"
                  customLocatorAdapter="Tavisca.Frameworks.Logging.Extensions.DependencyInjection.Adapters.ReflectionAdapter, Tavisca.Frameworks.Logging.Extensions"
                  compressionType="Zip"
                  defaultLogger="Tavisca.Frameworks.Logging.Sample.DelaySink, Tavisca.Frameworks.Logging.Sample">
    <categories>
      <!--<add name="Default">
        <loggers>
          <add name="Tavisca.Frameworks.Logging.Extensions.Sinks.EventViewerSink, Tavisca.Frameworks.Logging.Extensions"></add>
        </loggers>
      </add>-->
    </categories>
    <traceLoggers>
      <add name="Tavisca.Frameworks.Logging.Extensions.Sinks.FileSink, Tavisca.Frameworks.Logging.Extensions"></add>
    </traceLoggers>
  </ApplicationLog>
  <connectionStrings>
    <add name="log" connectionString="Data Source=sukhoie;Initial Catalog=dLogging_V_4_4_0_0;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LimitedConcurrencyLog" value="go for it"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
