<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApplicationLog" type="Tavisca.Frameworks.Logging.Configuration.ApplicationLogSection, Tavisca.Frameworks.Logging"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <ApplicationLog logConfigurationProvider="Tavisca.Frameworks.Logging.Tests.Custom.TestCustomConfigProvider, Tavisca.Frameworks.Logging.Tests.Custom"/>
  <connectionStrings>
    <add name="log" connectionString="Data Source=sukhoie;Initial Catalog=dLogging_V_4_4_0_0;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="Tavisca.Frameworks.Logging.Extensions.Formatters.ICreditCardMaskDataProvider" value="Tavisca.Frameworks.Logging.Tests.Mock.DummyCreditCardMaskProvider, Tavisca.Frameworks.Logging.Tests" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
