<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ApplicationLog" type="Tavisca.Frameworks.Logging.Configuration.ApplicationLogSection, Tavisca.Frameworks.Logging"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <ApplicationLog exceptionSwitch="On" eventSwitch="On" maxThreads="5" reThrowLogExceptions="Off" customLocatorAdapter="Tavisca.Frameworks.Logging.Tests.Mock.DummyLocatorAdapter, Tavisca.Frameworks.Logging.Tests" customFormatter="Tavisca.Frameworks.Logging.Tests.Mock.DummyFormatter, Tavisca.Frameworks.Logging.Tests" compressionType="Zip" defaultLogger="EventViewerLogger">
    <categories>
      <add name="Default">
        <loggers>
          <add name="EventViewerLogger"></add>
        </loggers>
      </add>
      <add name="RedisLogger">
        <loggers>
          <add name="RedisSink"></add>
        </loggers>
      </add>
      <add name="FileLogger">
        <loggers>
          <add name="FileLogger"></add>
        </loggers>
      </add>
      <add name="EventViewerLogger">
        <loggers>
          <add name="EventViewerLogger"></add>
        </loggers>
      </add>
      <add name="DBLogger">
        <loggers>
          <add name="DBLogger"></add>
        </loggers>
      </add>
      <add name="spDBLogger">
        <loggers>
          <add name="spDBLogger"></add>
        </loggers>
      </add>
    </categories>
    <traceLoggers>
      <add name="DBLogger"></add>
    </traceLoggers>
  </ApplicationLog>
  <appSettings>
    <add key="Tavisca.Frameworks.Logging.Extensions.Loggers.FileLogger.FilePath" value="D:\temp\mydata.log"/>
    <add key="Tavisca.Frameworks.Logging.Extensions.Loggers.FileLogger.MaxFileSize" value="10240"/>
    <add key="Tavisca.Frameworks.Logging.Extensions.Formatters.ICreditCardMaskDataProvider" value="Tavisca.Frameworks.Logging.Tests.Mock.DummyCreditCardMaskProvider, Tavisca.Frameworks.Logging.Tests.Mock"/>
    <add key="Logging.RedislistKey" value="RedisLoggingQueue"/>
    <add key="Logging.RedisServerConnString" value="192.168.2.47"/>
  </appSettings>
  <connectionStrings>
    <add name="log" connectionString="Data Source=sukhoie;Initial Catalog=dLogging_V_4_4_0_0;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
